# Objective

Attempt a request from Google Maps API.

In [5]:
import requests, json

In [23]:
# url = 'https://maps.googleapis.com/maps/api/place/textsearch/json?'
url = 'https://maps.googleapis.com/maps/api/place/findplacefromtext/output?parameters'
query = 'california department of tax and fee administration office'
api_key = 'AIzaSyB1ojeKhCLNJCAR5OvmodFUzJPxeqEDCPs'

In [24]:
r = requests.get(url + 'query=' + query +
                        '&key=' + api_key)

In [27]:
x = r.json()

In [26]:
x

{'error_message': 'You must enable Billing on the Google Cloud Project at https://console.cloud.google.com/project/_/billing/enable Learn more at https://developers.google.com/maps/gmp-get-started',
 'html_attributions': [],
 'results': [],
 'status': 'REQUEST_DENIED'}

In [34]:
y = x['results']

In [35]:
for i in range(len(y)): 
      
    # Print value corresponding to the 
    # 'name' key at the ith index of y 
    print(y[i]['name'])

# Sandbox

Poking around inside jupyter-gmaps

API docs:
https://jupyter-gmaps.readthedocs.io/en/latest/api.html#utility-functions

Takeaways
- These libraries are mostly for mapping. Place search doesn't seem to be implemented.
- jupyter-gmaps will not be helpful.

In [19]:
import gmaps
from gmaps import datasets

In [20]:
gmaps.configure(api_key=key)
datasets.load_dataset_as_df('starbucks_kfc_uk')

       latitude  longitude chain_name
0     57.143224  -2.111544  starbucks
1     57.143568  -2.096921  starbucks
2     57.132247  -2.123264  starbucks
3     57.147790  -2.098023  starbucks
4     50.842126  -0.251903  starbucks
...         ...        ...        ...
1217  50.829303  -0.375141        kfc
1218  51.631510  -0.753085        kfc
1219  51.618643  -0.719710        kfc
1220  52.369341  -2.263841        kfc
1221  52.385240  -2.240751        kfc

[1222 rows x 3 columns]

In [16]:
datasets.list_datasets()

dict_keys(['taxi_rides', 'earthquakes', 'acled_africa', 'acled_africa_by_year', 'london_congestion_zone', 'nuclear_plants', 'starbucks_kfc_uk', 'gini'])